/*
yonuferko
*/
/* =Reset
-------------------------------------------------------------- */
body #admin-menu {
  font-size: 12px;
}
html{
  width: 100%;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 768px;
  margin:0;
  padding: 0;
  }
/*this is block*/
li {
  list-style-type: none;
  color: #818181;
  margin-top: 5px;
}
h2{
  margin-left: 20px;
  margin-bottom: 0;
  padding: 0;
}
table{
  border-color: white;
}
#first{
  max-width: 90%;
  /*background-color: #dcdcdc;*/
  background-color: #fafafa;
  margin: 0px;
  height: 40px;
  padding: 0;
  float: left;

}
/*this is region*/
#Before-Header {
  max-width: 90%;
  /*background-color: #dcdcdc;*/
  background-color: #fafafa;
  margin:0;
  float:left;
  height: 40px;
  float: left;
}
/*this is block*/
#Before-Header-centr {
  max-width: 120px;
  /*background-color: #dcdcdc;*/
  background-color: #fafafa;
  margin-left:900px;
  padding-right: 10px;
  height: 40px;
}
#Before-Header-centr p {
font-size: 0.7em;
margin: 0;
margin-left: 10px;
}
#Before-Header-centr a {
display: inline;
  margin : 0;
  margin-left: 150px;
}
.bef-hed ul {
  margin:0;
  padding-top: 8px;
  margin-left: 200px;
}
.bef-hed li {
  display: inline;
  margin-left:20px;
  margin-top: 0;

  }
.bef-hed a {
  text-decoration: none;
  color: #2c2c2c;
}
.bef-hed a:hover {
  text-decoration: underline;
  color: #2c2c2c;
}
#Before-Header-right  {
/*background-color: #dcdcdc;*/
  background-color: #fafafa;
  max-width:100%;
  height: 40px;
  margin-left: 1129px;
}
#Before-Header-right button {
  height: 100%;
  width: 120px;
  background-image: url("/sites/all/themes/bartik/yonuferko/img/korz.jpg");
}
#Header {
  max-width: 25%;
  background-color: #0000AA;
  margin: auto;
  margin-top: 5px;
}
#Header img {
  margin-left: calc(50% - 68px);
}
#Header input {
  margin-top: 20px;
  width: 400px;
  margin-left: calc(50% - 200px);
  margin-left: 0;
  border-radius: 10px;
  height: 30px;
  font-size: 14px;
  background-image: url("/sites/all/themes/bartik/yonuferko/img/lupa.ico");
  background-repeat: no-repeat;
  background-position:right;
}
#Slider {
  max-width: 100%;
  /*background-color:#f0005e;*/
  margin-top: 10px;
  text-align:  center;
}
#Before-Main {
  max-width: 100%;
  background-color: #ff1103;
  margin-top: 10px;
}
#Before-Content {
  max-width: 50%;
 /* background-color:#ffff66;*/
  margin: auto;
  margin-top: 10px;
}
#center{
  max-width: 100%;
  /*background-color:#ebccd1;*/
  padding-left: 160px;
  padding-right: 100px;
}

#Aside-Left{
  width: 200px;
  height: 96%;
  /*background-color:#a47e3c;*/
  float: left;
}
#Content{
  height: 96%;
  /*background-color:#bd001f;*/
  /*margin-left:200px;*/
  float: left;
  margin-top: 50px;
  width: 600px;
  margin-left: 100px;
}
#Aside-Right{
  width: 200px;
  height: 96%;
  float: right;
  text-align: center;
  margin-right: 150px;
}
#After-Content {
  max-width: 50%;
  /*background-color:#fffeff;*/
  margin: auto;
  margin-top: 10px;
}
#After-Content table th {
  background: #efefef;
}
#After-Content table td {
  background: #efefef;
}
#After-Main {
  max-width: 100%;

  margin-top: 10px;
  margin-bottom: 0;
}
#Footer {
  width: 100%;
  color:#2c2c2c;
/* background-color:#dcdcdc;*/
  margin-top: 550px;
  height: 180px;
  margin-bottom: 0;
}
#Footer table {
  width: 100%;
  text-align: center;
  background-color:#dcdcdc;
}
#Footer input{
  background-color:#dcdcdc ;
}
#Footer tr {
  text-align: left;
}
#Footer table th, td{
  width: 25%;
  height: 20px;
  color:#2c2c2c;
  padding-left: 30px;
}
#secondmenu table {
  width: 90%;
  margin: auto;
  height: 40px;
  background-color: #fafafa;
  border: 5px double #fafafa; /* Рамка вокруг таблицы */
  }
#secondmenu table td {
  width: 120px;
  height: 40px;
  background-color: #fafafa;
  text-align: center;
}
#secondmenu a {
  text-decoration: none;
  color: #2c2c2c;
}
#secondmenu a:hover {
  text-decoration: underline;
  color: #2c2c2c;
}
#separator{
  border-bottom-width: 5px; /* Толщина линии внизу */
  border-bottom-style: solid; /* Стиль линии внизу */
  border-bottom-color: #7abd30; /* Цвет линии внизу */
margin-top: 10px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
#Note-Left{
  margin: 0;
  width: 20%;
  float: left;
  padding-left: 5%;
  margin-top: 20px;
  /*height: 200px;*/
}
#Note-Left input{
  margin-top:10px;
}
#Note-Right{
  width: 80%;
  margin-left: 380px;
  margin-top: 8px;
}
#Note-Right p{
  width: 470px;
} /* Button Page Note*/
a.btn-default{
margin-left: 25px;
  position: relative;
  display: inline-block;
  font-family: Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  user-select: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}
a.btn-default:hover {
-webkit-animation-play-state: paused;
animation-play-state: paused;
cursor: pointer;
}
a.btn-default:active {
top: 1px;
color: #fff;
text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
.field-items{
  margin-top: 30px;
}
/*Note default custom style*/
#note_default img{
margin-left: 25%;
}
#note_default h3{
  width: 450px;
  float: left;
  margin-top: 3px;
}
span.date-display-single {
  width: 50px;
  margin-left: 20px;
  padding: 0;
  color: darkgreen;
  font-size:1.5em ;
}
#News-Browse{
  width: 80%;
  margin-left: 10%;
}
#news{
  width: 100%;
  background-color: #0c9c0d;
  margin: auto;
  padding-left: 5%;
  padding-right:5%px;
}
#News-Left{
width: 30%;
margin: 0;
  float: left;
  background-color: #151c9c;
}
#News-Center{
  width: 30%;
  float: left;

  background-color: #8c2e0b;
}
#News-Right{
  margin-left: 60%;
  width: 30%;
  background-color: darkviolet;
}
.news_img {
  margin-top: 20px;
  align-content: center;
  margin-left: 20px;
  }
.title_news{
  text-align: center;
  margin-top: 30px;
}
.item-list ul{
  margin-top: 50px;
  font-size: 1.5em;
}
.view-content table td{
  width: 390px;
  vertical-align: top;
  text-align: justify;
}
.view-content table td span{

  margin-left:5px;
  color: darkgreen;
}
div.field-items{
    text-align: justify;
}
.submitted{
    display: none;
}
div.region.region-note.left{
    margin-left: 50px;
    color: red;
}
#news_title{
    text-align: right;
    opacity: 0.5;
}
table#button_news_brows{
    width: 500px;
    margin-left: 160px;
    margin-top: 40px;
}
table#button_news_brows td{
    width: 50px;
}
table#button_news_brows tr{
    border-top: hidden;
}
#button_news_brows button{
    background-color: transparent;
    width: 100px;
    font-weight: bold;
}
#button_news_brows button:hover{
    background-color: #0c9c0d;
    color: white;
    font-weight: bold;
}
#news_brows_default{
}
#news_brows_default img{
}
#news_brows_default h3{
}
#news_brows_default span{
  font-size:12px;
  margin-left: 0;
}